.header {
    background-color: rgb(0, 169, 66);
    justify-content: space-between;
    display: flex;
    font-family: 'Archivo Black', serif;
    color: rgb(255, 255, 255);
    align-items: center;
    padding: 20px;
}

.header .generous-rounds {
    font-size: 30px;
    white-space: nowrap;
}

.header .buttons {
    font-size: 20px;
    display: flex;
    gap: 10px;
}

.introduction {
    background-color: rgb(0, 169, 66);
    color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    margin: 0 auto;
    font-size: 25px;
    font-family: 'Archivo Black', serif;
}

.body {
    background-color: rgb(255, 231, 159);
}