<!DOCTYPE html>
<html>
    <head>
        <link href="styling.css" rel="stylesheet">
        <link href="./styling.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Protest+Strike&display=swap" rel="stylesheet">
    </head>
    <body>

        <div class="header-container">
            <header class="header">
                <div><a href="website.html" class="generous-rounds">Generous Rounds</a></div>
            </header>
            <nav class="links">
                <a href="about.html" id="about">About Us</a>
                <a href="charity.html" id="charity">Charities</a>
                <a href="help.html" id="help">Help Center</a>
            </nav>
        </div>

        <div class="user-container">
            <h2 class="title">Log In</h2>
            <form action="/log-in" method="POST">   
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
    
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>
    
                <button type="log-in">Log In</button>

                <div class="terms">
                    <p>Don't have an account? <a href="sign.html">Sign Up!</a>.</p>
                </div>
            </form>
        </div>

        <div class="header-card">
            <h1>Place Holder</h1>
        </div>
    
    </body>
</html>