<!DOCTYPE html>
<html>
    <head>
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Protest+Strike&display=swap" rel="stylesheet">
    </head>
    <body>
        <form id="form" action="/searchOnClick" method="POST">
            <input type="search" id="searchPrompt" name="searchPrompt"
            placeholder="Provide a description of the type of charity you would 
            like to donate to...">
            <button id="searchButton" type="submit"><b>Search</b></button>
        </form>
    </body>
</html>